/* margin-left: 20px; */
/* text-indent: 20px; */
/* page-break-before: always; */
/* white-space:pre; */
/* display: inline-block; */
/* h2:before {
    content: '\A• ';
} */

body {
    font-family: 'Arial';
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
}

.headword {
    font-family: 'Arial Black';
    font-size: xx-large;
}

.flexion {
    font-size: large;
    font-weight: 600;
}

.wordclass {
    font-size: x-large;
}

h2 {
    page-break-before: always;
    text-indent: 20px;
    /* -qt-block-indent: 1; */
}

.verbclass {
    font-size: x-large;
}

.definition {
    font-weight: bold;
    /* -qt-block-indent: 1; */
}

.sense{
    font-weight: bold;
}

.example {
    font-style: italic;
    /* -qt-block-indent: 2; */
}

.synonym{
    font-weight: bold;
}

.opposition{
    font-weight: bold;
}

.restriction{
    color: #cfff70;
}

.informal{
    color: #cfff70;
}

.case{}
